<div class="card">
    <div class="wrap-title">
        <h2 class="title">Support Ukraine</h2>
        <img class="main-icon" src="/img/main-icon.png" alt="иконка" class="icon">
    </div>
    <div class="list">
      <!-- Тестовая вёрстка -->
      <!-- <div class="list-item">
        <span>02</span>
        <a href="https://www.projecthope.org/" target="_blank">
            <img class="number-icon" src="../img/icon2.svg" alt="Project HOPE" class="icon">
        </a>
      </div> -->

    </div>
    <!-- Стрелочка для открытия/закрытия дополнительных пунктов -->
    <div class="expand-btn">
      <img class="slider-btn-support" src="/img/slider--btn-support.png" alt="">
    </div>
</div>

<script src="/js/suport.js"></script>